<%= form_with(model: [@scenario, scene]) do |form| %>
  <% if scene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scene.errors.count, "error") %> prohibited this scene from being saved:</h2>

      <ul>
        <% scene.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form class="row g-3 needs-validation" novalidate>
    <div class="form-group mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "title" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :image, class: "form-label" %>
      <%= form.text_field :image, class: "form-control", placeholder: "web-link to an image" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :number, class: "form-label" %>
      <%= form.text_field :number, class: "form-control", placeholder: "the order of the scene" %>
    </div>


    <div class="form-group mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "your scene" %>
    </div>

    <div class="form-group mb-3">
    <%= form.label :when, class: "form-label"  %>
    <%= form.date_select :when %>
  </div>



  <div class="actions">
    <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
<% end %>